.vscode
Backend/.next
Backend/__pycache__
Backend/node_modules
Frontend/AI-voice-agent-platform-frontend/.next
Frontend/AI-voice-agent-platform-frontend/node_modules
Backend/ai/Lib/site-packages/__pycache__
Backend/ai/Lib/site-packages/aiohappyeyeballs/__pycache__
Backend/ai/Lib/site-packages/aiohttp/.hash
Backend/ai/Lib/site-packages/aiohttp/__pycache__
**/__pycache__/
Backend/.env